# Common
FRONTEND_DOMAIN=http://localhost:3000/
NEXT_PUBLIC_TENDER_FRONTEND_DOMAIN=https://tenderbharo.com/tenders

# Next Auth
NEXTAUTH_URL=http://localhost:3000/
NEXTAUTH_SECRET=pQrMRJMm4oPKBEVnV3oHQwCE1t2b2h1D

# Secret Keys
AUTH_SECRET_KEY=W8E0TEPj1c6OGU9dgcOfWibKy1amkRJj29Y1p6j9VQywIZzh8Z
NEXT_PUBLIC_LOGIN_PASSWORD_SECRET_KEY=b1Ye4CvIbIACUfnGSXBv7IO8U9N1Dut8
JWT_SECRET=UK5zPZGmi2MjWWNagexZMTUwwGywBd1M

# Databases
DB_CONN_STRING=postgres://postgres:Admin@1234@192.168.10.122:5432/ottplay
MONGO_URL=mongodb://mongoadmin:Admin%401234@localhost:27017/
MONGO_DATABASE_NAME=tender_bharo
MONGO_COLLECTION_NAME=main_tender_collection2
MONGO_COLLECTION_EMAIL=email_subscriptions

# Cron Jobs
CRON_ENABLED=true
CRON_SCHEDULE="06 19 * * *"
CRON_TIMEZONE=Asia/Kolkata

# API Endpoints Opensearch
OPENSEARCH_ENDPOINT=http://localhost:8000/update

# S3
AWS_REGION=ap-south-1
S3_BUCKET_NAME=tender-bharo-tender-documents

# SMTP
SMTP_HOST=email hostname
SMTP_PORT=587
SMTP_SECURE=false
SMTP_USER=username
SMTP_PASS=password
SMTP_FROM_EMAIL=emailid

#sales img path
BASE_IMG_URL=https://marcom.tenderbharo.com/
UPLOAD_DIR="C:\\cms"
IMG_LOC=marketing