@import "../variable";

.teamhead {
	display: flex;
	justify-content: flex-end;
	.searchbox {
		width: 195px;
		@media (max-width: 1024px) {
			width: auto;
		}
		.custominput {
			display: flex;
			align-items: center;
			position: relative;
			max-width: 100%;
		}
		.inputtext {
			font-size: 12px;
			padding: 5px 0px;
			width: 100%;
			padding-left: 29px;
			outline: none;
			background: #ffffff;
			color: #b0b5c7;
			border: 1px solid #cad3e8;
			border-radius: 8px;
			box-shadow: 0px 0px 0px 0px #e2e2e2;
			transition: 0.3s ease;
			&::placeholder {
				color: #b0b5c7;
				@media (max-width: 1024px) {
					color: #666e91;
				}
			}
			&:focus {
				@media (max-width: 1024px) {
					width: 220px;
					border-bottom: 1px solid #666e91;
					transition: all 300ms;
					border-radius: 0;
				}
			}
			@media (max-width: 1024px) {
				padding: 10px 25px 10px 5px;
				background-color: transparent;
				border: 0;
				width: 102px;
				color: #666e91;
			}
		}
		.svgiconsearch {
			position: absolute;
			left: 10px;
			fill: #adb2c9;
			width: 12px;
			height: 12px;
			@media (max-width: 1024px) {
				right: 7px;
				left: initial;
				fill: #666e91;
			}
		}
	}
	.addteam {
		display: flex;
		@media (max-width: 1024px) {
			position: fixed;
			top: 10px;
			right: 14px;
			z-index: 10;
		}
		.addnewbtn {
			background: #6804bf;
			border-radius: 8px;
			border: 0px;
			padding: 8px 14px;
			color: #ffffff;
			font-size: 12px;
			margin-right: 10px;
		}
		.gridview {
			margin-top: 3px;
			@media (max-width: 1024px) {
				display: none;
			}
		}
	}
}

.opwallet {
	h2 {
		color: #41416e;
		font-size: 17px;
		font-weight: 600;
	}
	.innergrid {
		display: grid;
		grid-template-columns: repeat(4, minmax(0, 1fr));
		grid-gap: 15px;
		padding: 10px 0px;
		@media (max-width: 1350px) {
			grid-template-columns: repeat(3, minmax(0, 1fr));
		}
		@media (max-width: 1024px) {
			grid-template-columns: repeat(1, 100%);
			grid-gap: 15px;
		}
		.inbox {
			background: #ffffff;
			position: relative;
			box-shadow: 0px 0px 9px #a5abcb4d;
			cursor: pointer;
			align-items: center;
			display: flex;
			border: 1px solid #6a6a8c33;
			border-radius: 15px;
			padding: 15px;
			.col1 {
				width: 50%;
				color: #41416e;
				font-size: 17px;
				display: flex;
				font-weight: 600;
				flex-direction: column;
				span {
					color: #666e91;
					font-size: 11px;
					font-weight: 300;
				}
				.wraptxt {
					white-space: nowrap;
					overflow: hidden;
					text-overflow: ellipsis;
				}
			}
			.col2 {
				width: 35%;
				color: #41416e;
				font-size: 18px;
				font-weight: 600;
				text-align: right;
			}
			.col3 {
				width: 15%;
				display: flex;
				justify-content: flex-end;
				.addAmount {
					width: 25px;
					height: 25px;
					background: #6804bf;
					border-radius: 50px;
					margin-left: 7px;
					position: relative;
					display: block;
					@media (max-width: 1024px) {
						width: 30px;
						height: 30px;
					}
					&::before {
						content: "";
						width: 2px;
						height: 10px;
						background: #ffffff;
						position: absolute;
						top: 50%;
						left: 50%;
						transform: translate(-50%, -50%);
					}
					&::after {
						content: "";
						width: 10px;
						height: 2px;
						background: #ffffff;
						position: absolute;
						left: 50%;
						top: 50%;
						transform: translate(-50%, -50%);
					}
				}
			}
		}
		.noamt {
			border: 1px solid #c72525;
			.col1 {
				color: #c72525;
			}
			.col2 {
				color: #c72525;
			}
		}
	}
}

.innergrid {
	display: grid;
	grid-template-columns: repeat(4, minmax(0, 1fr));
	grid-gap: 15px;
	padding: 10px 0px;
	@media (max-width: 1024px) {
		grid-template-columns: repeat(1, 100%);
		grid-gap: 15px;
	}
	.inbox {
		background: #ffffff;
		position: relative;
		box-shadow: 0px 0px 9px #a5abcb4d;
		border: 1px solid #6a6a8c33;
		border-radius: 15px;
		padding: 15px;
		.title {
			font-size: 10px;
			font-weight: bold;
			padding: 3px;
			width: 100%;
			text-align: center;
			max-width: 55px;
			margin: auto;
			box-sizing: border-box;
			background: linear-gradient(to right, #ba4dfe 0%, #4536e2 100%);
			border-bottom-left-radius: 3px;
			border-bottom-right-radius: 3px;
			color: #ffffff;
			position: absolute;
			top: -8px;
			left: 65%;
			transform: translate(-50%, 0px);
			z-index: 1;
			box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.25);
			@media (max-width: 1024px) {
				top: -6.9px;
			}
			&:before,
			&:after {
				content: "";
				width: 0px;
				height: 0px;
				position: absolute;
				border: 5px solid transparent;
				border-top-color: #000000;
				top: 3px;
				@media (max-width: 1024px) {
					top: 1.7px;
				}
			}
			&:before {
				transform: rotate(-45deg);
				left: -4px;
				@media (max-width: 1024px) {
					left: -5px;
				}
			}
			&:after {
				transform: rotate(45deg);
				right: -4px;
				@media (max-width: 1024px) {
					right: -5px;
				}
			}
		}
		.tname {
			border-bottom: 1px solid #6a6a8c33;
			padding-bottom: 10px;
			display: flex;
			justify-content: space-between;
			.tnamelft {
				color: #41416e;
				font-size: 17px;
				font-weight: 700;
				white-space: nowrap;
				overflow: hidden;
				text-overflow: ellipsis;
			}
			.gridthreedot {
				width: 25px;
				height: 25px;
				display: block;
				flex-shrink: 0;
				img {
					width: 100%;
					height: 100%;
					object-fit: cover;
				}
			}
		}
		.topname {
			padding: 8px 0px;
			display: flex;
			.topnamesec {
				width: 50%;
				.tptxt {
					color: #666e91;
					font-size: 11px;
					font-weight: 500;
					margin: 0px;
					padding: 0px;
				}
				.btmtxt {
					color: #41416e;
					font-size: 13px;
					font-weight: 500;
					padding: 0px;
					margin: 0px;
					white-space: nowrap;
					overflow: hidden;
					text-overflow: ellipsis;
				}
			}
		}
		.btmname {
			border-top: 1px solid #6a6a8c33;
			padding-top: 10px;
			display: flex;
			.topnamesec {
				width: 50%;
				.tptxt {
					color: #666e91;
					font-size: 11px;
					font-weight: 500;
					margin: 0px;
					padding: 0px;
				}
				.btmtxt {
					color: #41416e;
					font-size: 13px;
					font-weight: 500;
					padding: 0px;
					margin: 0px;
					&.avtive {
						color: #1eb436;
						padding-left: 12px;
						position: relative;
						span {
							font-size: 40px;
							line-height: 0px;
							position: absolute;
							top: -2px;
							left: -1px;
						}
					}
					&.blocked {
						color: #5b5d81;
						padding-left: 12px;
						position: relative;
						span {
							font-size: 40px;
							line-height: 0px;
							position: absolute;
							top: -2px;
							left: -1px;
						}
					}
				}
			}
		}
		&.cblocked {
			opacity: 0.4;
			cursor: no-drop;
			user-select: none;
		}
	}
}

.teammidd {
	margin-top: 18px;
	@media (max-width: 1024px) {
		margin-top: 0;
	}
	.teamgridbox {
		background: #ffffff;
		align-items: center;
		box-shadow: 0px 0px 9px #a5abcb4d;
		border-radius: 15px;
		padding: 15px 25px;
		display: flex;
		justify-content: space-between;
		@media (max-width: 1024px) {
			margin-bottom: 20px;
			align-items: flex-end;
		}
		.opName {
			color: #8f9195;
			font-size: 19px;
			width: 230px;
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
			@media (max-width: 1024px) {
				font-size: 12px;
				width: 140px;
			}
		}
		.opbal {
			color: #6804bf;
			font-size: 37px;
			font-weight: 800;
			line-height: 40px;
			@media (max-width: 1024px) {
				font-size: 24px;
				font-weight: 500;
				line-height: 28px;
			}
		}
		.opid {
			color: #5b5d81;
			font-size: 19px;
			font-weight: 600;
			@media (max-width: 1024px) {
				font-size: 12px;
				font-weight: 700;
			}
		}
		.opotherdtl {
			color: #6804bf;
			font-size: 19px;
			font-weight: 300;
			text-decoration: underline;
			cursor: pointer;
			@media (max-width: 1024px) {
				font-size: 10px;
			}
		}
		.revokeWrapper {
			margin-top: 8px;
			.revokeBtn {
				cursor: pointer;
				background: #6804bf;
				border-radius: 8px;
				border: 0px;
				padding: 8px 14px;
				font-size: 12px;
				color: #ffffff;
				@media (max-width: 1024px) {
					font-size: 10px;
				}
			}
		}
	}
	.memtoppanel {
		border: 0;
		border-bottom: 1px solid #6a6a8c33;
		margin-bottom: 20px;
		padding: 15px 25px 30px;
		border-radius: 15px !important;
		box-shadow: 0 0 10px rgba(0, 0, 0, 0.1254901961);
		background: #ffffff;
		@media (max-width: 1024px) {
			padding: 20px;
		}
		.sechead {
			padding-bottom: 15px;
			border-bottom: 1px solid #e7e7f5;
			font-size: 20px;
			line-height: 24px;
			color: #5b5d81;
			font-weight: 400;
		}
		.wallpayopt {
			display: flex;
			justify-content: left;
			margin-top: 30px;
			@media (max-width: 1024px) {
				flex-direction: column;
				margin-top: 15px;
				grid-gap: 15px;
			}
			.wallpaycol {
				width: 50%;
				display: flex;
				align-items: center;
				@media (max-width: 1024px) {
					width: 100%;
					display: block;
				}
				&:first-child {
					@media (max-width: 1024px) {
						padding-bottom: 10px;
					}
				}
				.notAllowed {
					cursor: not-allowed;
				}
				.customselect {
					width: 60%;
					position: relative;
					@media (max-width: 1024px) {
						width: 100%;
						margin-bottom: 20px;
					}
					select {
						appearance: none;
						-webkit-appearance: none;
						background: #f5f9fc;
						border: 1px solid #dce1ef;
						border-radius: 6px;
						padding: 10px;
						width: 100%;
						cursor: pointer;
						font-size: 12px;
						color: #666e91;
						@media (max-width: 1340px) {
							font-size: 11px;
						}
						@media (max-width: 1024px) {
							font-size: 16px;
						}
						&:focus-visible {
							border: 1px solid #5a7ec7;
							outline: 0;
						}
					}
					&::after {
						content: "";
						position: absolute;
						pointer-events: none;
						top: 50%;
						right: 10px;
						transform: translate(0, -50%);
						width: 12px;
						height: 12px;
						background-color: #666e91;
						clip-path: polygon(8% 17%, 0% 25%, 50% 84%, 100% 25%, 92% 17%, 50% 65%);
						@media (max-width: 1024px) {
							top: 14px;
							transform: none;
						}
					}
				}
				label {
					width: 20%;
					color: #666e91;
					font-size: 14px;
					@media (max-width: 1024px) {
						width: 100%;
						padding-bottom: 5px;
					}
				}
				.coltxt {
					width: 60%;
					position: relative;
					@media (max-width: 1024px) {
						width: 100%;
					}
				}
				input {
					background: #f5f9fc;
					border: 1px solid #dce1ef;
					border-radius: 6px;
					padding: 10px;
					width: 100%;
					font-size: 14px;
					color: #000;
					@media (max-width: 1024px) {
						font-size: 16px;
						width: 100%;
						margin-bottom: 5px;
					}
					&::placeholder {
						color: #acb2c6;
						font-size: 12px;
						font-weight: 500;
						@media (max-width: 1024px) {
							font-size: 16px;
						}
					}
					&:focus-visible {
						border: 1px solid #5a7ec7;
						outline: 0;
					}
				}
				.customselect2 {
					width: 60%;
					@media (max-width: 1024px) {
						width: 100%;
						margin-bottom: 0;
					}
					input {
						padding: 2px;
						border: 0;
						margin-bottom: 0;
						&::placeholder {
							color: #acb2c6 !important;
							font-size: 12px !important;
							font-weight: 500;
							font-family: Roboto Flex, sans-serif !important;
						}
					}
				}
				.logerror {
					position: absolute;
					left: 0px;
					top: 42px;
					text-align: left;
					width: 100%;
					display: inline-block;
					color: red;
					font-size: 12px;
					padding-top: 0;
					@media (max-width: 1024px) {
						position: relative;
						left: 0px;
						top: 0px;
					}
				}
				.radibox {
					width: 60%;
					display: flex;
					align-items: center;
					position: relative;
					@media (max-width: 1024px) {
						display: block;
					}
					label {
						width: 100px;
					}
					input {
						width: 22px;
					}
					input[type="radio"] {
						display: none;
					}
					input[type="radio"] + label {
						cursor: pointer;
						position: relative;
						padding-left: 25px;
						line-height: 20px;
						@media (max-width: 1024px) {
							padding-bottom: 10px;
						}
					}
					input[type="radio"] + label::before {
						content: "";
						display: inline-block;
						width: 16px;
						height: 16px;
						border: 1px solid #89939e;
						border-radius: 50%;
						position: absolute;
						top: 50%;
						left: 0;
						transform: translateY(-50%);
						opacity: 1;
						transition: all 0.3s;
						@media (max-width: 1024px) {
							top: 30%;
						}
					}
					input[type="radio"] + label::after {
						content: "";
						display: inline-block;
						width: 8px;
						height: 8px;
						border: 1px solid #6804bf;
						background: #6804bf;
						border-radius: 50%;
						position: absolute;
						left: 4px;
						top: 50%;
						transform: translateY(-50%);
						opacity: 0;
						transition: all 0.3s;
						@media (max-width: 1024px) {
							top: 30%;
						}
					}
					input[type="radio"]:checked + label::after {
						opacity: 1;
					}
					.logerror {
						position: absolute;
						left: 0px;
						top: 25px;
						text-align: left;
						width: 100%;
						display: inline-block;
						color: red;
						font-size: 12px;
						padding-top: 0;
						@media (max-width: 1024px) {
							position: relative;
							left: 0px;
							top: 0px;
						}
					}
				}
			}
		}
		.amountWrapper {
			font-size: 14px;
			margin-top: 20px;
			.label {
				font-weight: 700;
				display: inline-block;
				margin-right: 10px;
			}
			.amount {
				font-weight: 600;
			}
		}
	}
}

.btnWrapper {
	display: flex;
	justify-content: flex-end;
	grid-gap: 15px;
	margin-top: 20px;
	@media (max-width: 1024px) {
		flex-direction: column;
	}
	button {
		min-width: 188px;
		text-align: center;
		justify-content: center;
		@media (max-width: 1024px) {
			width: 100%;
		}
	}
}

.subscriberAccordion {
	margin-bottom: 30px;
	@media (max-width: 1024px) {
		margin-bottom: 70px;
	}
}
.subscriberAccordionItem {
	border: 0;
	border-bottom: 1px solid #6a6a8c33;
	margin-bottom: 20px;
	padding: 0 25px;
	border-radius: 15px !important;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1254901961);
	@media (max-width: 1024px) {
		padding: 20px 15px;
	}
	&:last-child {
		margin-bottom: 0;
	}
	.subscriberAccordionHeader {
		[class*="accordion-button"] {
			background: #ffffff;
			border-radius: 0 !important;
			padding: 15px 0;
			font-size: 20px;
			line-height: 24px;
			color: #5b5d81;
			font-weight: 500;
			img {
				width: 15px;
				margin-left: 10px;
				@media (max-width: 1024px) {
					width: 20px;
				}
			}
			@media (max-width: 1024px) {
				padding: 0;
				font-size: 18px;
				line-height: 20px;
				font-weight: 600;
			}
			&:focus {
				box-shadow: none;
			}
			&::after {
				width: 22px;
				height: 22px;
				background-image: url(#{$image_path}/common/accordionPlus.svg);
				background-repeat: no-repeat;
				background-size: 100%;
			}
			&:not([class*="collapsed"]) {
				box-shadow: none;
				// @media (max-width: 1024px){padding: 0 0 10px 0;}
			}
			&:not([class*="collapsed"])::after {
				background-image: url(#{$image_path}/common/accordionMinus.svg);
			}
			.currentPlanwrap {
				display: flex;
				padding-left: 20px;
				padding-right: 40px;
				flex-grow: 1;
				align-items: center;
				@media (max-width: 1024px) {
					display: none;
				}
				h4 {
					font-size: 12px;
					line-height: 13px;
					color: #5b5d81;
					font-weight: 500;
					margin-bottom: 0;
					a {
						color: #6804bf;
						text-decoration: underline;
					}
				}
				.currentPlanSearch {
					margin-left: auto;
					position: relative;
					&::before {
						content: "";
						width: 12px;
						background-image: url(#{$image_path}/subscribers/searchIcon.svg);
						position: absolute;
						height: 12px;
						background-size: contain;
						top: 50%;
						transform: translateY(-50%);
						left: 12px;
					}
					input {
						background: #fff;
						padding: 4px 8px 4px 32px;
						width: 220px;
					}
				}
			}
		}
	}
	.subscriberAccordionBody {
		padding: 0;
		position: relative;
		margin-bottom: 20px;
		margin-top: 10px;
		&.noBorder {
			border: 0;
		}

		.currentPlanwrap {
			display: flex;
			padding-left: 20px;
			padding-right: 40px;
			flex-grow: 1;
			align-items: center;
			width: 80%;
			position: absolute;
			top: -40px;
			right: 40px;
			z-index: 3;
			@media (max-width: 1024px) {
				display: none;
			}
			h4 {
				font-size: 12px;
				line-height: 13px;
				color: #5b5d81;
				font-weight: 500;
				margin-bottom: 0;
				a {
					color: #6804bf;
					text-decoration: underline;
				}
			}
			.currentPlanSearch {
				margin-left: auto;
				position: relative;
				&::before {
					content: "";
					width: 12px;
					background-image: url(#{$image_path}/subscribers/searchIcon.svg);
					position: absolute;
					height: 12px;
					background-size: contain;
					top: 50%;
					transform: translateY(-50%);
					left: 12px;
				}
				input {
					background: #fff;
					padding: 4px 8px 4px 32px;
					width: 220px;
				}
			}
		}
	}
}

.recentTransaction {
	display: grid;
	grid-template-columns: repeat(4, minmax(0, 1fr));
	grid-gap: 15px;
	padding: 2px 6px 10px;
	max-height: 540px;
	overflow-y: auto;
	@media (max-width: 1024px) {
		grid-template-columns: 100%;
		max-height: initial;
		padding: 0;
		overflow-y: initial;
	}
	&::-webkit-scrollbar {
		width: 6px;
	}
	&::-webkit-scrollbar-track {
		background: #dbdce3;
		box-shadow: inset 0 0 5px #9793cc;
		border-radius: 4px;
		border-left: 1.5px solid rgba(0, 0, 0, 0);
		border-right: 1.5px solid rgba(0, 0, 0, 0);
		margin-left: 30px;
	}
	&::-webkit-scrollbar-thumb {
		background: #5b5d81;
		border-radius: 4px;
	}
}
.transactionCard {
	background: #ffffff;
	position: relative;
	box-shadow: 0px 0px 9px #a5abcb4d;
	border: 1px solid #6a6a8c33;
	border-radius: 15px;
	padding: 15px 15px 10px 15px;
	display: flex;
	flex-direction: column;
	grid-gap: 15px;
	.row {
		display: flex;
		justify-content: space-between;
		grid-gap: 15px;
		@media (max-width: 1024px) {
			border-bottom: 1px solid #e5e4f4;
			padding-bottom: 10px;
		}
		&:last-child {
			@media (max-width: 1024px) {
				border-bottom: none;
			}
		}
		.col {
			font-size: 12px;
			line-height: 14px;
			color: #8f9195;
			@media (max-width: 1024px) {
				font-weight: 600;
			}
			span {
				color: #5b5d81;
				font-weight: 600;
			}
		}
	}
	&.credited {
		.changecol {
			color: #049524;
			font-weight: 600;
		}
		.revokenow {
			border-top: 1px solid rgba(106, 106, 140, 0.2);
			padding-top: 8px;
			color: #6804bf;
			font-size: 10px;
			cursor: pointer;
			font-weight: 600;
			text-decoration: underline;
			text-align: center;
			@media (max-width: 1024px) {
				border: 0px;
				padding: 4px 0px 7px;
			}
		}
	}
	&.debited {
		.changecol {
			color: #c72525;
			font-weight: 600;
		}
		.revokenow {
			border-top: 1px solid rgba(106, 106, 140, 0.2);
			padding-top: 8px;
			color: #6804bf;
			font-size: 10px;
			cursor: pointer;
			font-weight: 600;
			text-decoration: underline;
			text-align: center;
			@media (max-width: 1024px) {
				border: 0px;
				padding: 4px 0px 7px;
			}
		}
	}
}

.optmob {
	color: #666e91;
	font-size: 14px;
	font-weight: 400;
}
.pridtl {
	font-size: 20px;
	color: #5b5d81;
	font-weight: 700;
	margin: 0px;
	padding: 0px;
}

.setdetls {
	padding-bottom: 15px;
	border-bottom: 1px solid #e5e4f4;
	margin-bottom: 20px;
	// display: ruby-text;
	display: flex;
	flex-wrap: wrap;
	text-align: left;
	.setprobs {
		color: #5b5d81;
		font-size: 19px;
		font-weight: 600;
		padding-bottom: 10px;
		border-bottom: 1px solid #e5e4f4;
		display: none;
	}
	li {
		display: flex;
		padding-top: 20px;
		width: 100%;
		@media (max-width: 1024px) {
			width: 100%;
		}
		.setsubl {
			width: 150px;
			color: #666e91;
			font-size: 14px;
			flex-shrink: 0;
			@media (max-width: 1024px) {
				width: 125px;
			}
		}
		.setsubr {
			color: #000;
			font-size: 14px;
			font-weight: 600;
			word-break: break-all;
		}
	}
}

.setoptdetls {
	padding-bottom: 15px;
	// display: ruby-text;
	display: flex;
	flex-wrap: wrap;
	text-align: left;
	.setprobs {
		color: #5b5d81;
		font-size: 19px;
		font-weight: 600;
		padding-bottom: 10px;
		border-bottom: 1px solid #e5e4f4;
		display: none;
	}
	li {
		display: flex;
		padding-top: 20px;
		width: 100%;
		@media (max-width: 1024px) {
			width: 100%;
		}
		.setsubl {
			width: 150px;
			color: #666e91;
			font-size: 14px;
			flex-shrink: 0;
			@media (max-width: 1024px) {
				width: 85px;
			}
		}
		.setsubr {
			color: #000;
			font-size: 14px;
			font-weight: 600;
			word-break: break-all;
		}
	}
}
.formobibg {
	@media (max-width: 1024px) {
		background: #fff;
		padding: 20px;
		border-radius: 10px;
	}
}
